@model IEnumerable<BlogMVC.Models.Post>
@{
    ViewData["Title"] = "BlogNow";
    var Email = User.Identity.Name;
}
<h1>@ViewData["Title"]</h1>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    @foreach (var post in Model)
    {

        <div class="Post">
            <div class="User">
                <a class="user" asp-action="User" asp-route-id="@post.Owner">@Html.DisplayFor(modelItem => post.Owner)</a>
            </div>
            <div class="Comment">
                <p>@Html.DisplayFor(ModelItem => post.Message)</p>
                <div class="Like">
                    @if (post.likedpeople.FirstOrDefault(x => x.PersonalEmail == User.Identity.Name) != null)
                    {
                        <button class="heart-liked" data-postid="@post.Id"></button>
                    }
                    else
                    {
                        <button class="heart" data-postid="@post.Id"></button>
                    }
                    <p class="like-count">Likes: <span id="likes-count-@post.Id">@post.Likes</span></p>
                </div>
                <p>@Html.DisplayFor(ModelItem => post.Date)</p>
            </div>
        </div>
        <br />
        <br />
    }
    <script>
        var email = '@Email';
        $(document).ready(function () {
            $('.heart, .heart-liked').click(function () {
                var postId = $(this).data('postid');
                $.ajax({
                    type: 'POST',
                    url: '/Main/LikePost',
                    data: { postId: postId, email: email},
                    success: function (response) {
                        if (response.error != null) {
                            alert(response.error);
                            return;
                        }
                        $('[data-postid= "'+postId+'"]').attr('class', response.status);
                        $('#likes-count-' + postId).text(response.likes);
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            });
        });
    </script>
</body>
</html>