@model IEnumerable<BlogMVC.Models.Post>
@{
    ViewData["Title"] = "BlogNow";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a asp-action="Create" asp-controller="Main">Create a Post</a></li>
            <li><a asp-action="Following" asp-controller="Main">Following</a></li>
            <li><a asp-action="Followed" asp-controller="Main">Followed</a></li>
        </ul>
    </div>

    <br />
    <br />
    <br />
    <h1>@ViewData["Title"]</h1>
    @foreach (var post in Model)
    {
        <div class="Post">
            <div class="User">
                <a class="user" asp-action="UserView" asp-route-id="@post.Owner">@Html.DisplayFor(modelItem => post.Owner)</a>
            </div>
            <div class="Comment">
                <p>@Html.DisplayFor(ModelItem => post.Message)</p>
                <div class="Like">
                    @if (post.likedpeople.FirstOrDefault(x => x.PersonalEmail == User.Identity.Name) != null)
                    {
                        <button class="heart-liked" data-postid="@post.Id"></button>
                    }
                    else
                    {
                        <button class="heart" data-postid="@post.Id"></button>
                    }
                    <p class="like-count">Likes: <span id="likes-count-@post.Id">@post.Likes</span></p>
                </div>
                <p>@Html.DisplayFor(ModelItem => post.Date)</p>
            </div>
        </div>
        <br />
        <br />
    }
    <script>
        window.email = "@User.Identity.Name";
    </script>
    <script src="~/js/like.js"></script>
</body>
</html>