@model BlogMVC.Models.ViewModels.PageResult<Post>;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <div class="container-post"></div>
    <div class="container-skip-75"></div>
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("_SidebarMenu")
    @{
        string Email = "";
        if (Model != null)
        {
            ViewData["Title"] = ViewData["UserName"];
            Email = User.Identity.Name;
            Model.Items = Model.Items.OrderByDescending(d => d.Date).ToList();        }
    }
    <h1>@ViewData["Title"]</h1>
    <h6>@Model.BlogNowUser.UserName</h6>
    <p>
        Followers:
        <span class="follow-number">@Model.BlogNowUser.Followed.Count()</span>
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.BlogNowUser.Email != User.Identity.Name && User.Identity.Name != null)
            {
                <button class="follow-btn">Follow</button>
            }
        }
    </p>
    <br />
    @await Html.PartialAsync("_PostList", new BlogMVC.Models.ViewModels.PostListViewModel()
{
    Posts = Model.Items,
    Email = Model.BlogNowUser.Email
})
@await Html.PartialAsync("_Pages")
    <script>
        //follow
        document.addEventListener("DOMContentLoaded", () => {
            const follow = document.querySelector(".follow-btn");
            const value = document.querySelector(".follow-number");
            follow.addEventListener("click", () => {
                const params = new URLSearchParams();
                const token = document.querySelector('input[name = "__RequestVerificationToken"]').value;
                params.append("email", "@User.Identity.Name");
                params.append("target", "@Model.BlogNowUser.Email");
                params.append("follow", value.textContent);
                fetch("/Follow/FollowSomeone", {
                    method: "post",
                    headers: {
                        'Content-Type': "application/x-www-form-urlencoded",
                        'RequestVerificationToken': token
                    },
                    body: params.toString()
                }).then(response => response.json())
                .then(response => {
                    if (response.error) {
                        alert(response.error);
                        return;
                    }
                    value.textContent = response.followers;
                }).catch(() => {
                    alert("Error");
                })
            })
        })


        //
        window.email = "@User.Identity.Name";
    </script>
    <script src="~/js/likes.js"></script>
    <script src="~/js/postRenderPartialView.js"></script>
</body>
</html>

